/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *::after, *::before {
  box-sizing: border-box;
}
h2 {
  text-align: center;
  margin-bottom: 0;
}
h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
h4 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
button {
  margin:10px;
}
#search-component {
  text-align: center;
  margin-bottom: 20px;
}
#filter {
  text-align: center;
  margin-bottom: 20px;
}
.count {
  text-align: center;
  font-size: x-large;
}
.district {
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid {
  margin: 0;
  width: auto;
}
.col-1-4 {
  width: 240px;
}
.module {
  padding: 10px;
  text-align: center;
  color: #003F88;
  height: 200px;
  width: 340px;
  background-color: #ffc505;
  border-radius: 130px;
  margin-left: 20px;
}
.no-entory-module {
  padding: 10px;
  text-align: center;
  color: #607d8b;
  height: 200px;
  width: 200px;
  background-color:lightgray;
  border-radius: 130px;
  margin-left: 20px;
}
.new-module {
  padding: 10px;
  text-align: center;
  color: #003F88;
  height: 340px;
  width: 200px;
  background-color: #FAEB00;
  border-radius: 130px;
  margin-left: 20px;
}
.recommendation-module {
  padding: 10px;
  text-align: center;
  color: #003F88;
  height: 340px;
  width: 200px;
  background-color: #acd8ec;
  border-radius: 130px;
  margin-left: 20px;
}
.module:hover {
  background-color: #003F88;
  cursor: pointer;
  color: #ffc505;
}
.new-module:hover {
  background-color: #003F88;
  cursor: pointer;
  color: #FAEB00;
}
.recommendation-module:hover {
  background-color: #003F88;
  cursor: pointer;
  color: #acd8ec;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
.keepall {
  word-break: keep-all;
}
.today {
    font-size: 40px;
}
.kokujibi {
  font-size: 60px;
  color: blue;
}
.tohyobi {
  font-size: 60px;
  color: red;
}
/* スイッチ本体 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}
/* デフォルトのcheckbox隠す */
.switch input {display:none;}
/* トグルボタンのスライダー */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
/* スライダーのつまみ部分 */
.slider:before {
  position: absolute;
  content: "";
  /*height: 26px;*/
  height: 20px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* checkboxの状態ごとの背景色 */
input.genshoku:checked + .slider {
  background-color: #FFC505;
}
input.shinjin:checked + .slider {
  background-color: #FAEB00;
}
input.suigen:checked + .slider {
  background-color: #ACDBEC;
}
input.suishin:checked + .slider {
  background-color: #ACDBEC;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* 丸っこいスライダーにも対応 */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.btn-toolbar {
  justify-content: center;
}
@media screen and (max-width:420px) {
  .grid {
    width: max-content;
    margin: 0;
    width: 420px;
  }
  .col-1-4 {
    width: 210px;
  }
  .module {
    font-size: 16px;
    width: 200px;
    height: 340px;
  }
  .new-module {
    font-size: 16px;
    width: 200px;
    height: 340px;
  }
  .recommendation-module {
    font-size: 16px;
    width: 200px;
    height: 340px;;
  }
  .no-entory-module {
    font-size: 16px;
    width: 200px;
    height: 240px;
  }
}
@media screen and (min-width:421px) and (max-width: 500px) {
  .grid {
    margin: 0;
  }
  .module {
    font-size: 12px;
    width: 160px;
    height: 340px;
  }
  .new-module {
    font-size: 12px;
    width: 160px;
    height: 340px;
  }
  .recommendation-module {
    font-size: 16px;
    width: 160px;
    height: 340px;
  }
  .no-entory-module {
    font-size: 12px;
    width: 160px;
    height: 340px;
  }
}
@media screen and (min-width:501px) and (max-width: 700px) {
  .grid {
    margin: 0;
  }
  .module {
    font-size: 8px;
    width: 116px;
    height: 340px; }
  .new-module {
    font-size: 8px;
    width: 116px;
    height: 340px;
  }
  .recommendation-module {
    font-size: 16px;
    width: 116px;
    height: 340px;
  }
  .no-entory-module {
    font-size: 8px;
    width: 116px;
    height: 340px;
  }
}
@media screen and (min-width:701px) and (max-width: 800px) {
  .grid {
    margin: 0;
  }
  .module {
    font-size: 12px;
    width: 160px;
    height: 340px;
  }
  .new-module {
    font-size: 12px;
    width: 160px;
    height: 340px;
  }
  .recommendation-module {
    font-size: 12px;
    width: 160px;
    height: 340px;
  }
  .no-entory-module {
    font-size: 12px;
    width: 160px;
    height: 160px;
  }
}
@media screen and (min-width:801px) {
  .grid {
    margin: 0;
  }
  .module {
    font-size: 16px;
    width: 220px;
    height: 340px;
  }
  .new-module {
    font-size: 16px;
    width: 220px;
    height: 340px;
  }
  .recommendation-module {
    font-size: 16px;
    width: 220px;
    height: 340px;;
  }
  .no-entory-module {
    font-size: 16px;
    width: 220px;
    height: 220px;
  }
}
