.hero-profile {
  border: 1px solid gray;
  padding: 20px;
  padding-top: 10px
  border-radius: 20px;
  background-color: #90EBC9;
  color: black;
  // width: 400px;
  height: 320px;
  float: left;
  overflow:hidden
  width: 100%;
  display: table;
  table-layout: fixed;
}

.profile {
  width: 56px;
  display: table-cell;
  vertical-align: middle;
}

.detail {
  width: 200px;
  display: table-cell;
  vertical-align: middle;
}

.timeline-Widget {
  overflow: hidden;
}

.timeline-Viewport {
  overflow: hidden;
}
