.hero-profile {
      border: 1px solid gray;
      padding: 20px;
      padding-top: 10px
      border-radius: 20px;
      background-color: lightgreen;
      color: black;
      width: 200px;
      height: 320px;
  }

.timeline-Widget {
  overflow: hidden;
}

.timeline-Viewport {
  overflow: hidden;
}
