.hero-profile {
  border: 1px solid gray;
  padding: 20px;
  padding-top: 10px
  border-radius: 20px;
  background-color: #90EBC9;
  color: black;
  // width: 400px;
  height: 460px;
  float: left;
  overflow:hidden
  width: 100%;
  display: table;
  table-layout: fixed;
  max-width: 560px;
}

.profile {
  width: 100px;
  display: table-cell;
  vertical-align: middle;
}

.detail {
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  white-space: pre-wrap;
}

@media screen and (max-width: 767px) {
  .hero-profile {
    border: 1px solid gray;
    padding: 20px;
    padding-top: 10px
    border-radius: 20px;
    background-color: #90EBC9;
    color: black;
    // width: 400px;
    height: 460px;
    float: left;
    overflow:hidden
    width: 88%;
    display: table;
    table-layout: fixed;
  }

  .profile {
    width: 54px;
    display: table-cell;
    vertical-align: middle;
  }

  .detail {
    width: 38px;
    display: table-cell;
    vertical-align: middle;
    white-space: pre-wrap;
  }
}

.timeline-Widget {
  overflow: hidden;
}

.timeline-Viewport {
  overflow: hidden;
}
