.hero-detail {
  text-align : center;
}

.mrgn-left-13{
    margin-left : 13px;
}

.mrgn-left-28{
    margin-left : 28px;
}

.mrgn-left-32{
    margin-left : 32px;
}

.mrgn-left {
    margin-left : 59px;
}

.mgr-bottom-4{
    margin-bottom : 4px;
}

.profile {
  display: inline-block;
}

.twitter {
  display: inline-block;
}
