<div class="content">
  <h2>国会議員ピックアップ</h2>
  <div id="search-component">
    <h4><label for="search-box">国会議員検索</label></h4>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  </div>
  <div id="filter">
    <button (click)="getHeroes()">全議員</button>
    <button (click)="filterShu()">衆議院議員</button>
    <button (click)="filterSan()">参議院議員</button>
  </div>
  <div ng-controller="heroes" class="count">
    <span>{{heroes.length}}名</span>
  </div>
  <div class="grid grid-pad">
    <a *ngFor="let hero of heroes" class="col-1-4"
        routerLink="/detail/{{hero.id}}">
      <div class="module hero">
        <h2>{{hero.name}}</h2>
        <h4>{{hero.role}}</h4>
        <h4>{{hero.role2}}</h4>
        <h4 class="district">{{hero.district}}</h4>
        <h3>{{hero.belongs}}</h3>
        <h4>当選{{hero.count}}回</h4>
      </div>
    </a>
  </div>
</div>
