<div class="content">
  <h2>国会議員一覧</h2>
  <div>
    <!-- <label>名前:
      <input #heroName />
    </label> -->
    <!-- (click) passes input value to add() and then clears the input -->
    <!-- <button (click)="add(heroName.value); heroName.value=''">
      登録
    </button> -->
  </div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a [routerLink]="['/detail', hero.id]">
        <div *ngIf="hero.belongs == '衆議院'; else sangiinBlock" class="shugiin">
          <span class="badge">{{hero.id}}</span> {{hero.name}}　|　{{hero.belongs}}　|　{{hero.district}}
        </div>
        <ng-template #sangiinBlock>
          <div class="sangiin">
            <span class="badge">{{hero.id}}</span> {{hero.name}}　|　{{hero.belongs}}　|　{{hero.district}}
          </div>
        </ng-template>
      </a>
      <button class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>

